body {
    background-color: rgb(22, 4, 34);
}

input{
    height: 30px;
    margin-top: 10px;
    width: 340px;
    font-size: 90%;
    
}
.form{
    margin-top: 10%;
    padding: 5px;
}

.subm {
    background:none;
    color: aliceblue;
    border: 1px solid white;
    border-radius: 4px;
}
a{
    color: blueviolet;
    text-decoration-line: none;
    text-decoration: none;
}
